# NOTE: You do not need to use this file if you want to install selenium-wire. The production dependencies
# are listed in pyproject.toml

mitmproxy>=12.2.0
selenium>=4.10.0

brotli>=1.2.0
zstd>=1.5.7.2

# Testing dependencies
pytest
flaky
httpbin
undetected-geckodriver-lw

# Used for manual testing of proxies (not in automated tests, and not anywhere else)
proxy.py
