name: build
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  unit_tests:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            py: '3.14'
          - os: macos-latest
            py: '3.14'
          - os: ubuntu-latest
            py: '3.14'
          - os: ubuntu-latest
            py: '3.13'
          - os: ubuntu-latest
            py: '3.12'
    runs-on: ${{ matrix.os }}
    steps:
      - run: printenv
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      - name: Install dependencies
        run: |
          pip install --upgrade -r requirements.txt
      - name: "Run tests"
        run: |
          pytest
